body {
	background-image: url("the_sandwich.png");
	background-color: #ffffff;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
}

.outlined {
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; color: black;
}